In [1]:
# Explore success prediction for github repository

In [2]:
import sklearn as sk

ModuleNotFoundError: No module named 'sklearn'

In [4]:
import os
import pandas as pd

In [2]:
data = "./data/data/"

In [13]:
file_names = os.listdir(data)
df = pd.DataFrame(file_names, columns=['name'])

In [14]:
df.head()

                                        name
0       vaguileradiaz_tinfoleak_commits.json
1         lateralusd_lateralus_releases.json
2        devanshbatham_FavFreak_commits.json
3  yassineaboukir_Asnlookup_description.json
4            troglobit_nemesis_releases.json

In [34]:
df['type'] = df.name.str.extract('.*_([A-z]+).json')

In [36]:
df.type.unique()

array(['commits', 'releases', 'description'], dtype=object)

In [37]:
df.head()

                                        name         type
0       vaguileradiaz_tinfoleak_commits.json      commits
1         lateralusd_lateralus_releases.json     releases
2        devanshbatham_FavFreak_commits.json      commits
3  yassineaboukir_Asnlookup_description.json  description
4            troglobit_nemesis_releases.json     releases